*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* reset */
html{
    font-family: "Roboto Flex", sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
img, svg{
    height: auto;
}
ul{
    list-style: none;
}

input, textarea, button{
    appearance: none;
    background: none;
    border: none;
    display: inline-block;
    outline: none;
    resize: none;
}

/* header */

header{
    position: fixed;
    width: 100%;
    z-index: 999;
    .top_nav{
        background: #e3005a;
        padding: 1rem 2.5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        transform: translateY(0);
        transition: transform 0.5s ease-in;
        animation: slideDown 500ms ease;
        a,span{
            color: white;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 0.1rem;
            display: inline-block;
        }
        a{
            position: relative;
            &:after {
                content: "";
                display: block;
                margin: 0 auto;
                width: 0;
                height: .2rem;
                background-color: #fff;
                transition: opacity .3s ease,width .3s ease;
            }
            &:hover{
                &::after{
                    width: 100%;
                    opacity: 1;
                }
            }
        }
    }
    .header_nav{
        padding: 1rem 5rem;
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: transform 0.5s ease-in;
        box-shadow: 0px 9px 14px -6px rgba(0,0,0,0.1);
        .logo{
            img{
                width: 7rem;
            }
        }
        .menu{
            display: flex;
            align-items: center;
            gap: 3rem;
            a{
                font-size: 2.2rem;
                color: rgb(175, 175, 175);
                position: relative;
                &:after {
                    content: "";
                    display: block;
                    margin: 0 auto;
                    width: 0;
                    height: .2rem;
                    background-color: #e3005a;
                    transition: opacity .3s ease,width .3s ease;
                }
                &:hover{
                    color: #e3005a;
                    &::after{
                        width: 100%;
                        opacity: 1;
                    }
                }
                &.active{
                    color: #e3005a;
                    &::after{
                        width: 100%;
                        opacity: 1;
                    }
                    
                }
            }
        }
    }
}

.menu_icon, .close_icon{
    display: none;
}

.hideHeader{
    .top_nav{
        transform: translateY(-100%);
        transition: transform 0.5s ease-in;
        animation: slideUp 500ms ease;
    }
    .header_nav{
        transform: translateY(-4.9rem);
        transition: transform 0.25s ease-in;
    }
}


/* section */
.wrapper{
}

/* banner */
.banner{
    padding-top: 13.5rem;
    .bannerSwiper{
        img{
            width: 100%;
            display: block;
        }
    }
}

.inner_banner{
    padding-top: 13.5rem;
    img{
        width: 100%;
        display: block;
    }
}


/* about */

.about_us{
    width: 100%;
    background: linear-gradient(90deg, rgba(237,237,237,1) 0%, rgba(237,237,237,1) 30%, rgba(211,48,94,1) 30%);
    padding: 10rem;
    /* border-top: .2rem solid #e3005a;
    border-bottom: .2rem solid #e3005a; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    h2{
        color: #fff !important;
    }
    .about_img{
        width: 50rem;
        height: 50rem;
        background: linear-gradient(270deg, rgba(237,237,237,1) 0%, rgba(237,237,237,1) 50%, rgba(211,48,94,1) 50%);
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        left: -24.3rem;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .div_content{
        color: #fff;
        width: 75rem;
        h2{
            margin-bottom: 2rem;
        }
    }
}

/* products */

.our_products{
    margin: 0rem 6.5rem 5rem;
    padding-top: 10rem;
    h2{
        margin-bottom: 6rem;
        text-align: center;
    }
    .product_title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        margin-right: 10rem;
        h4{
            font-size: 3.6rem;
            color: #000;
            font-weight: 600;
        }
        a{
            font-size: 2.2rem;
            position: relative;
            display: inline-block;
            color: rgba(0,0,0,0.5);
            &:after {
                content: "";
                display: block;
                margin: 0 auto;
                width: 0;
                height: .2rem;
                background-color: #e3005a;
                transition: opacity .3s ease,width .3s ease;
            }
            &:hover{
                color: #e3005a;
                &::after{
                    width: 100%;
                    opacity: 1;
                }
            }
        }
    }
    .products_container{
        margin-bottom: 10rem;
        position: relative;
        .swiper{
            width: 95%;
            margin: 3rem auto 0;
            margin-left: 8rem;
            .swiper-wrapper{
            }
            .product_items{
                width: 25rem;
                img{
                    width: 100%;
                }
            }
        }
        .swiper-prev, .swiper-next{
            position: absolute;
            top: 50%;
            cursor: pointer;
            z-index: 99;
            border: 0.2rem solid transparent;
            background: #e3005a;
            border-radius: 50%;
            padding: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 3.4rem;
                filter: invert(1);
            }
        }
        .swiper-prev{
            left: -2rem;
            img{
                transform: rotate(180deg);
            }
        }
        .swiper-next{
            right: 0;
            left: auto;
        }
    }
}

/* Contact */

.contact{
    padding-top: 10rem;
    h2{
        margin-bottom: 3rem;
        text-align: center;
    }
    .contact_wrapper{
        display: flex;
        align-items: center;
        background: linear-gradient(90deg, rgba(247,247,247,1) 0%, rgba(247,247,247,1) 60%, rgba(211,48,94,1) 60%);
        .contact_info{
            width: 60%;
            padding: 5rem;
            height: 100%;
            form{
                width: 75%;
                margin: 0 auto;
                input, textarea{
                    width: 100%;
                    border: 0.2rem solid rgba(0,0,0,0.5);
                    border-radius: 1rem;
                    padding: 1rem 2rem;
                    display: block;
                    font-size: 2rem;
                    color: #e3005a;
                    margin-bottom: 2.5rem;
                    &::placeholder{
                        font-size: 2rem;
                        color: #e3005a;
                    }
                    &:focus-visible{
                        border-color: #e3005a !important;
                    }
                }
                button{
                    border: 0.2rem solid rgba(0,0,0,0.5);
                    padding: 1rem 2rem;
                    border-radius: .5rem;
                    font-size: 2rem;
                    cursor: pointer;
                    width: 10rem;
                    display: block;
                    margin: 0 auto;
                    transition: background 0.3s ease-in;
                    &:hover{
                        background: #e3005a;
                        color: #fff;
                    }
                }
            }
        }
        address{
            width: 40%;
            padding: 5rem;
            color: #fff;
            text-align: center;
            font-style: normal;
            .address_title{
                font-size: 4.8rem;
                margin-bottom: 1rem;
                text-transform: uppercase;
                letter-spacing: .2rem;
            }
            .address_detail{
                font-size: 3.2rem;
                margin-bottom: 2.5rem;
            }
            .address_info{
                font-size: 2.8rem;
            }
        }
    }
}



/* inner_pages */

.inner_product{
    padding-top: 18rem;
    .innerSwiper{
        width: 100%;
        .swiper-wrapper{
            margin-bottom: 10rem;
        }
        .inner-pagination{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .swiper-pagination-bullet{
            font-size: 2rem;
            width: 3.5rem;
            height: 3.5rem;
            padding: 2rem;
            line-height: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #000 !important;
            background: #ccc !important;
            opacity: 1 !important;
        }
        .swiper-pagination-bullet-active{
            background: #e3005a !important;
            color: #fff !important;
        }
    }
    .product_page{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 6.2rem;
    }
    .product_box{
        width: 40rem;
        img{
            width: 100%;
            display: block;
        }
        .series_number{
            font-size: 1.8rem;
            text-align: center;
            padding: 1.5rem 0;
            background: #e3005a;
            color: #fff;
        }
    }
}

/* footer */

footer{
    background: #9b0024;
    padding: 5rem 10.5rem;
    color: #fff;
    .footer_box{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 5rem;
        a{
            color: #f9f9f9cd;
            position: relative;
            display: inline-block;
            &:after {
                content: "";
                display: block;
                margin: 0 auto;
                width: 0;
                height: .2rem;
                background-color: #f9f9f9cd;
                transition: opacity .3s ease,width .3s ease;
            }
            &:hover{
                &::after{
                    width: 100%;
                    opacity: 1;
                }
            }
        }
        .footer_content{
            .footer_logo{
                display: inline-block;
                margin-bottom: 2rem;
                &::after{
                    display: none !important;
                }
                img{
                    width: 10rem;
                }
            }
            .footer_contact{
                font-size: 2rem;
                margin-bottom: 2rem;
            }
            .footer_title{
                font-size: 2.8rem;
                margin-bottom: 3rem;
            }
            ul{
                li{
                    a{
                        font-size: 2.2rem;
                        margin-bottom: 2rem;
                    }
                }
            }
        }
    }
    .web_creator{
        font-size: 2rem;
        text-align: center;
        a{
            color: #fff;
            position: relative;
            display: inline-block;
            &:after {
                content: "";
                display: block;
                margin: 0 auto;
                width: 0;
                height: .2rem;
                background-color: #fff;
                transition: opacity .3s ease,width .3s ease;
            }
            &:hover{
                &::after{
                    width: 100%;
                    opacity: 1;
                }
            }
        }
    }
}



.swiper-button-disabled{
    border: 0.2rem solid #000 !important;
    background: transparent !important;
    cursor: url('../images/no-entry.webp'),auto !important;
    img{
        filter: invert(0) !important;
    }
}

.banner{
    .swiper-pagination-bullet{
        background: #fff !important;
    }
}

h2{
    font-size: 6rem;
    color: #e3005a;
}
p{
    font-size: 2.4rem;
}
/* animation */

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes slideUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}
