*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* reset */
html{
    font-family: "Roboto Flex", sans-serif;
}
a{
    text-decoration: none;
}
img{
    height: auto;
}

/* header */

header{
    position: fixed;
    width: 100%;
    .top_nav{
        background: #d3305e;
        padding: 1rem 2.5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        transform: translateY(0);
        transition: transform 0.5s ease-in;
        animation: slideDown 500ms ease;
        a,span{
            color: white;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 0.1rem;
            display: inline-block;
        }
        a{
            position: relative;
            &:after {
                content: "";
                display: block;
                margin: 0 auto;
                width: 0;
                height: .2rem;
                background-color: #fff;
                transition: opacity .3s ease,width .3s ease;
            }
            &:hover{
                &::after{
                    width: 100%;
                    opacity: 1;
                }
            }
        }
    }
    .header_nav{
        padding: 1rem 2.5rem;
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: transform 0.5s ease-in;
        box-shadow: 0px 9px 14px -6px rgba(0,0,0,0.1);
        img{
            width: 7rem;
        }
        .menu{
            display: flex;
            align-items: center;
            gap: 3rem;
            a{
                font-size: 2.2rem;
                color: rgb(175, 175, 175);
                position: relative;
                &:after {
                    content: "";
                    display: block;
                    margin: 0 auto;
                    width: 0;
                    height: .2rem;
                    background-color: #d3305e;
                    transition: opacity .3s ease,width .3s ease;
                }
                &:hover{
                    color: #d3305e;
                    &::after{
                        width: 100%;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.hideHeader{
    .top_nav{
        transform: translateY(-100%);
        transition: transform 0.5s ease-in;
        animation: slideUp 500ms ease;
    }
    .header_nav{
        transform: translateY(-4.9rem);
        transition: transform 0.25s ease-in;
    }
}


/* section */

section{
    height: 100vh;
}



/* animation */

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes slideUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}


@media screen and (max-width:540px) {
    .hideHeader{
        .header_nav{
            transform: translateY(2rem);        
        }
    }
}